<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<!-- estilos CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

	<% if (locals.user != undefined) { %> <!--Existe en locals una propedad llamada user quiero que me muestre el headerLogueado-->
		<%- include('./partials/headerLogueado.ejs') %>
	<% }else{ %> <!--Si no que me muestre el header-->
		<%- include('./partials/header.ejs') %>
		<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= producto.shirt_name %>  </h2> 
			<p class="product-detail-description">
				<% if (locals.user &&locals.user.id == producto.user.id) { %> 
					<a href="/product/edit/<%= producto.id %>">Editar</a>
					<form class="form" action="/product/delete/<%= producto.id %>" method="POST">
						<input type="hidden" name="productUserId" value="<%= producto.user.id %>">
						<input type="hidden" name="userIdLog" value="<%= locals.user.id %>">
						<button type="submit">Eliminar</button>
					</form>

				<% } %>
			</p>
		</div>
		<div class="product-detail">	
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= "<%= "/images/products/" + producto.shirt_image %>"  alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.shirt_description %>
						<strong> <a class="nombreComentario" href="/users/profile/ <%= producto.user.id %>">Hecho por:   <%= producto.user.username %> </a> </strong>
			
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let index = 0; index < producto.comment.length; index++) { %>
							<% const comment = producto.comment[index]; %>
						<article>
							<img src="/images/users/<%= comment.user.img %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a class="nombreComentario" href="/users/profile/<%= comment.user.id %>">  <%= comment.user.username %> </a> </strong>
								 <p><%= comment.comentario %></p>
							</div>
						</article>
						<% } %>

					</section>
					<% if(locals.user){ %> 
					<form class="form" action="/product/comment" method="POST">
						<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
						<input type="hidden" name="idProduct" value="<%= producto.id %>">
						<input type="hidden" name="idUser" value="<%= locals.user.id %>">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% } %> 
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<%- include('./partials/footer') %>

</body>	
</html>