<%- include('./partials/header') %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= producto.shirt_name %>  </h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">	
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= "<%= "/images/products/" + producto.shirt_image %>"  alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.shirt_description %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let index = 0; index < producto.comment.length; index++) { %>
							<% const comment = producto.comment[index]; %>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a class="nombreComentario" href="/users">  <%= comment.user.username %> </a> </strong>
								 <p><%= comment.comentario %></p>
							</div>
						</article>
						<% } %>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<%- include('./partials/footer') %>

</body>	
</html>