<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar perfil</title>
	<!-- estilos CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

	<% if (locals.user != undefined) { %> <!--Existe en locals una propedad llamada user quiero que me muestre el headerLogueado-->
		<%- include('./partials/headerLogueado.ejs') %>
	<% }else{ %> <!--Si no que me muestre el header-->
		<%- include('./partials/header.ejs') %>
		<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<form action="/users/edit" method="POST" enctype="multipart/form-data">
				<div class="title">Editar Perfil</div>
				<div class="input-container ic1">
					<input id="name" class="input" type="text" name="username" placeholder="nombre" value="<%= user.username %>" />
				</div>
				<div class="input-container ic1">
					<input id="password" class="input" type="email" name="email" placeholder="mail"value="<%= user.email %>"  />
				</div>
				<div class="input-container ic1">
					<input id="password" class="input" type="password" name="password" placeholder="clave" 
					value="<%= user.password %>"/>
				</div>
				<div class="input-container ic1">
					<input id="birthday" class="input" type="date" name="birthday" value="<%= user.birthday %>" />
				</div>
				<div class="input-container ic1">
					<input id="img" class="input" type="file" name="img" value="<%= user.img %>"/>
				</div>
				<input type="hidden" name="userId" value="<%= user.id %>">
				<input type="hidden" name="imgVieja" value="<%= user.img %>">
				<button type="text" class="submit">submit</button>
			</form>
		</div>
	</div>


<%- include('./partials/footer') %>


</body>

</html>